body{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-color: rgba(0, 132, 55, 0.2);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 
#container{
  background-color: white;
  border-radius: 25px;
  width: 900px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 30px 5px #cccccc;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
}
h1 {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
#reset {
  height: 50px;
  max-width: 90px;
  border-radius: 25px;
  font-size: 22px;
  background-color: transparent;
  border: 2px solid rgb(0, 132, 55);
  color: rgb(0, 132, 55);
  margin-top: 10px;
  transition: background-color 0.5s;
}
#reset:hover {
  background-color: rgba(0, 132, 55, 0.4);
}
.group-name{
  color: #505050;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid 1px #505050;
  border-bottom: solid 1px #505050;
}
.sub-group-name{
  display: flex;
  justify-content: space-between;
}
.sub-group-name p{
  flex: 1;
  text-align: center;
}
.revenues, .supplements, .results, .spring-costs{
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}
.results{
  width: 400px;
  display: flex;
  font-size: 20px;
  width: 0px;
}
.revenue, .supplement, .spring-cost{
  width: 330px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px !important;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.ecoschemes{
  width: 370px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.kalkulator{
  width: 320px;
  margin-bottom: 20px;

  margin-left: auto;
  margin-right: auto;
}
.kalkulator-linijka{
  display: flex;
  margin-bottom: 10px;
}
.kalkulator-name{
  margin-left: 5px;
}
.kalkulator-linijka .value{
  display: flex;
}
.kalkulator-linijka input[type="button"] {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: #505050;
  border-radius: 5px;
  background-color: transparent;
  color: #505050;
  margin-left: 10px;
  font-size: 30px;
  text-align: center; 
  line-height: 4px;
  padding: 0;
}
.kalkulator-linijka .remove{
  margin-right: 5px;

  text-align: center;
  vertical-align: middle;
}
.kalkulator-linijka .addCalculatorBtn{
  
  text-align: center;
  vertical-align: middle;
}
.kalkulator-linijka input[type="text"]{
  padding-left: 6px;
}
.kalkulator-linijka input[type="text"]::placeholder {
  font-size: 15px;
}
.kalkulator-linijka-nazwa{
  width: 135px;
  margin-left: 8px;
  position: relative;
  top: -22px;
  font-size: 22px;
}
.kalkulator-linijka{
  height: 30px;
}
.kalkulator-linijka .result{
  position: relative;
  text-align: center;
  padding-left: 5px;
  top: 0px;
}
.value{
  display: flex;
  width: 180px;
  margin-right: 8px;
}
input[type="text"]{
  flex-grow: 1;
  width: 0;
  color: #505050;
  border-style: solid;
  border-color: #505050;
  border-radius: 15px;
  font-size: 18px;
  padding-left: 4px;
}
.ecoscheme{
  margin-bottom: 20px !important;
}

.revenue-name, .supplement-name, .ecoscheme-name, .spring-cost-name{
  text-align: left;
  font-size: 20px;
  width: 200px;
}
.spring-cost-name{
  width: 370px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 6px;
  font-size: 20px;
}
.spring-cost .value{
  display: flex;
  width: 370px;
}
.unit{
  padding-left: 3px;
  padding-right: 2px;
  margin-top: 4px;
  font-size: 18px;
}
label{
  display: flex;
}
.ecoscheme input[type="checkbox"] {
  width: 30px;
  height: 30px;
}
input[type="text"] {
  height: 30px;
}
.ecoscheme label{
  height: 50px;
}