body{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-color: rgba(0, 132, 55, 0.2);
}
@media screen and (max-width: 340px){
  body{
    margin: 0;
  }
  #container{
    border-radius: 0px;
    width: fit-content;
  }
} 
#container {
  background-color: white;
  width: fit-content;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 30px 5px #cccccc;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2%;
}
h1 {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
#reset {
  height: 50px;
  border-radius: 25px;
  font-size: 22px;
  background-color: transparent;
  border: 2px solid rgb(0, 132, 55);
  color: rgb(0, 132, 55);
  margin-top: 10px;
  transition: background-color 0.5s;
}
#reset:hover {
  background-color: rgba(0, 132, 55, 0.4);
}
.group-name{
  color: #505050;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid 1px #505050;
  border-bottom: solid 1px #505050;

  display: flex;
}
.group-name-text{
  width: 320px;
}
.group-name-text-only{
  width: 320px;
}
.group-name-text-result{
  width: 160px;
}
.group-name-text-separator{
  height: 40px;
}
.revenue-display .group-name{
  border-top: solid 2px #505050;
  border-bottom: solid 2px #505050;
}
.revenue-display .group-name-text{
  width: 260px;
}
.display-revenue{
  text-align: center;
}
.group-button{
  width: 70px;
  height: 30px;

  font-size: 17px;
  font-weight: bold;
  color: #505050;
  border: 2px solid #505050;
  border-radius: 5px;

  background-color: transparent;
}
.revenue, .supplement, .spring-cost{
  width: 320px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px !important;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.ecoschemes{
  width: 320px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.kalkulator{
  width: 320px;
  margin-bottom: 20px;
  padding-top: 20px;

  margin-left: auto;
  margin-right: auto;

  border-top: 1px dashed #505050;
}
.kalkulator:first-child{
  border-top: none;
}
.kalkulator-linijka{
  display: flex;
  margin-bottom: 20px;
  height: 30px;
}
.kalkulator-name{
  margin-left: 5px;
}
.kalkulator-linijka .value{
  display: flex;
}
.kalkulator-linijka input[type="button"] {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-color: #505050;
  border-radius: 5px;
  background-color: transparent;
  color: #505050;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 30px;
  text-align: center; 
  line-height: 4px;
  padding: 0;
}
.kalkulator-linijka .remove{
  margin-right: 5px;

  text-align: center;
  vertical-align: middle;
}
.kalkulator-linijka .addCalculatorBtn{
  
  text-align: center;
  vertical-align: middle;
}
.kalkulator-linijka input[type="text"]{
  padding-left: 6px;
}
.kalkulator-linijka input[type="text"]::placeholder {
  font-size: 15px;
}
.kalkulator-linijka-nazwa{
  width: 160px;
  margin-left: 8px;
  position: relative;
  top: -22px;
  font-size: 22px;
}
.value{
  display: flex;
  width: 160px;
  margin-right: 8px;
}
.value .result{
  position: relative;
  top: 1px
}
input[type="text"]{
  flex-grow: 1;
  width: 0;
  color: #505050;
  border-style: solid;
  border-color: #505050;
  border-radius: 15px;
  font-size: 18px;
  padding-left: 4px;
}
.ecoscheme{
  width: 320px;
  margin-bottom: 20px !important;
}
.revenue-name, .supplement-name, .ecoscheme-name{
  text-align: left;
  font-size: 20px;
  width: 150px;
  margin-top: auto;
  margin-bottom: auto;
}
.spring-cost-name{
  width: 320px;
  margin-left: 5px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 6px;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.spring-cost .value{
  display: flex;
  width: 320px;
}
.spring-costs-inputs{
  margin-left: auto;
  margin-right: auto;
}
.ecoscheme .value{
  width: 140px;
  margin-top: auto;
  margin-bottom: auto;
}
.unit{
  padding-left: 5px;
  padding-right: 2px;
  margin-top: 4px;
  font-size: 18px;
}
label{
  display: flex;
}
input[type="checkbox"] {
  width: 30px;
  height: 30px;
  -webkit-appearance: none; 
  appearance: none;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  top: 10px
}
input[type="checkbox"]:checked {
  background-color: rgb(0, 132, 55);
  border-color: rgb(0, 132, 55);
  position: relative;
}
input[type="checkbox"]:disabled {
  background-color: rgb(200, 200, 200);
}
input[type="checkbox"]:checked::before {
  font-size: 30px;
  color: white;
  position: absolute;
  content: '+';
  top: -4px;
  left: 4px;
}
input[type="text"] {
  height: 30px;
}
.ecoscheme label{
  height: 50px;
}
.none{
  display: none;
}
input[type="button"]:hover{
  border-color: rgb(0, 132, 55);
  color: rgb(0, 132, 55);
}
input[type="text"]:hover{
  border-color: rgb(0, 132, 55);
}
input[type="button"]:focus{
  border-color: rgb(0, 132, 55) !important;
  color: rgb(0, 132, 55) !important;
}